venv/
venv310/
__pycache__/
.ipynb_checkpoints/
.DS_Store


venv/
venv310/
.virtual_documents/
.DS_Store
venv/
venv310/
.virtual_documents/
.DS_Store
citibike_weather_2022.csv
.DS_Store
venv/
venv310/
